<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8" />
<title th:text="'Spring Boot: MVC + Thymeleaf + Data JPA - ' + ${titulo}"></title>
<link rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
</head>
<body>
	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Navbar</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNav" aria-controls="navbarNav"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item active"><a class="nav-link" href="#">Spring
							Boot <span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/listar}">Clientes</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>

	<div class="container"></div>
	
	<footer th:fragment="footer" class="container">
		<hr />
		<img th:src="@{/images/spring.png}" alt="Spring logo"/>
		<p>
			Powered By <a href="https://spring.io/projects/spring-boot">Spring Boot</a> y <a href="http://www.thymeleaf.org">Thymeleaf</a>
		</p>
		<p>
			Este proyecto fue desarrollador en IDE Eclipse + Spring plugin (STS Spring Tool), Enriquez Mauro Yoel<br />
			&copy; Todos los derechos reservados. Terminos de uso y privacidad. <br />
		</p>
		
		<script th:src="@{/js/jquery-3.5.1.min.js}"></script>
			<script
				th:src="@{/js/popper.min.js}"></script>
			<script
				th:src="@{/js/bootstrap.min.js}"></script>
	</footer>
</body>
</html>