<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<h4 class="card-title">
					<a th:href="@{/form}" class="btn btn-primary btn-xs">Crear
						Cliente</a>
				</h4>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>id</th>
							<th>nombre</th>
							<th>apellido</th>
							<th>email</th>
							<th>created at</th>
							<th>Editar</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cliente: ${clientes}">
							<td th:text="${cliente.id}"></td>
							<td th:text="${cliente.nombre}"></td>
							<td th:text="${cliente.apellido}"></td>
							<td th:text="${cliente.email}"></td>
							<td th:text="${cliente.createAt}"></td>
							<td><a class="btn btn-primary btn-xs"
								th:href="@{/form/} + ${cliente.id}">Editar</a></td>
							<td><a class="btn btn-danger btn-xs"
								th:href="@{/eliminar/} + ${cliente.id}"
								onclick="return confirm('EstaSeguro que quiere eliminar el usuario?');">Eliminar</a></td>
						</tr>
					</tbody>
				</table>
				
				<header th:replace="layout/paginator-nav :: paginator"></header>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>